<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>HoRRcH@cracked.by</string>
	<key>purchaseDate</key>
	<date>2015-11-11T11:11:11Z</date>
	<key>artistId</key>
	<integer>488106216</integer>
	<key>artistName</key>
	<string>Supercell</string>
	<key>bundleDisplayName</key>
	<string>Clash Royale</string>
	<key>bundleShortVersionString</key>
	<string>2.1306.1</string>
	<key>bundleVersion</key>
	<string>2.1306.1</string>
	<key>copyright</key>
	<string>© 2016 Supercell Oy</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<true/>
	<key>gameCenterEverEnabled</key>
	<true/>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>1053012308</integer>
	<key>itemName</key>
	<string>Clash Royale</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Supercell</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , Advisory.NO.UNRESTRICTED_WEB_ACCESS and Infrequent/Mild Cartoon or Fantasy Violence</string>
		<key>label</key>
		<string>9+</string>
		<key>rank</key>
		<integer>200</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2016-01-04T07:31:00Z</string>
	<key>s</key>
	<integer>143455</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a836.phobos.apple.com/us/r30/Purple69/v4/29/c4/36/29c436f3-e1d6-5e1f-ee35-cd111ab401c5/CRV_AP_150x90.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.supercell.scroll</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>815336891</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>814079893</integer>
		<integer>815186542</integer>
		<integer>815336891</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Strategy</string>
			<key>genreId</key>
			<integer>7017</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Action</string>
			<key>genreId</key>
			<integer>7001</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>676757</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>

